*{
margin: 0;
padding: 0;
box-sizing: 0;
font-family: 'Poppins', sans-serif;
}

.center{
max-width: 1100px;
margin: 0 auto;
padding: 0 2%;
display: flex;
flex-wrap: wrap;
}

header{
background-color: white;
padding: 20px 0;
border-bottom: 2px solid #774f3b;
}

.logo{
color:#774f3b;
font-size: larger;
}

.logo h2{
font-weight: normal;
font-size: 18px;
}

.menu{
text-align: right;
width: 80%;
}
.menu a{
color:#774f3b;
font-size: 14px;
text-decoration: none;
margin-right: 20px;
transition: 0.4s;

}

.menu a:hover{
color: #2e4b77;
}

.menu .btn-menu{
background-color: #774f3b;
display: inline-block;
padding: 4px 10px;
color: white;
border-radius: 8px;

    
}

section.main{

    /* background-image: url('Inserir\ um\ título.png'); */
    min-height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_cta{
margin: 70px 0;
width: 100%;
text-align: center;
}

.main_cta h2{

    color: #6b888b;
    font-size: 40px;
}

.main_cta p{

    color: #6b888b;
    font-size: 19px;
    margin: 10px ;
}

.main_cta button{

    background-color: #6b888b;
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

.diferenciais{
    display: flex;
    text-align: center;
    margin: 100px 1;
    width: 100%;
    

}


.card {
    overflow:hidden;  
    align-items: center; 
    width: 30%;
    margin-right: 2%;
    height: 400px;
    text-align: center;  
    padding: auto;
} 
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-description {
    padding: 9px;
    text-align: center;
  }
  
 
  
  .card-description p {
    font-size: 17px;
    color: #666666;
    margin-bottom: 0;
    
  }



  /* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
  header {
    padding: 10px 0; /* Reduzir o padding no cabeçalho para dispositivos móveis */
  }

  .menu {
    text-align: center; /* Centralizar o menu para dispositivos móveis */
    width: 100%;
  }

  .menu a {
    display: inline; /* Tornar os links do menu em blocos para empilhá-los verticalmente */
    margin: 10px 0;
  }

  .diferenciais {
    flex-wrap: wrap; /* Permitir que os elementos dentro de .diferenciais quebrem linha */
    justify-content: center; /* Centralizar os elementos */
    margin: 50px 0; /* Reduzir a margem para dispositivos móveis */
  }

  .card {
    width: 100%; /* Expandir os cartões para preencher a largura total do container */
    margin-right: 0; /* Remover a margem direita para que os cartões não se sobreponham */
    margin-bottom: 20px; /* Adicionar espaço entre os cartões */
    height: auto; /* Permitir que a altura dos cartões seja ajustada automaticamente */
  }

  .main_cta h2 {
    font-size: 32px; /* Reduzir o tamanho da fonte do título para dispositivos móveis */
  }
}







  